po/*.gmo
po/stamp-po
po/remove-potcdate.sed
win32/install.nsi
*.o
*.a
*.la
*.lo
*~
src/dopewars.res
src/plugins/.libs/
src/dopewars
config.cache
configure
acinclude.m4
aclocal.m4
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
stamp-h
stamp-h.in
stamp-h1
dopewars.sco
dopewars.spec
libtool
autom4te.cache
.deps
compile
doc/dopewars.6
po/POTFILES
