[Desktop Entry]
Name=dopewars
Name[de]=Drogenkrieg
Name[pl]=Wojny narkotykowe
Comment=dopewars drug dealing game
Comment[pl]=Gra polegajÄca na handlowaniu narkotykami
Comment[fr]=Jeu de vente de drogue
Exec=dopewars
Icon=dopewars-weed.png
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
Encoding=UTF-8
# vi: encoding=utf-8
