#include "dopeid.h"
MainDialog DIALOG 28, 17, 227, 184 STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX CAPTION "dopewars" MENU MainMenu
BEGIN
	CONTROL "Stats", 101, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 5, 217, 48
	CONTROL "", 102, "EDIT", ES_LEFT | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 6, 58, 216, 56
	CONTROL "", 103, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 6, 126, 87, 54
	CONTROL "", 104, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 135, 126, 87, 54
	PUSHBUTTON "&Buy ->", 105, 98, 118, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "<- &Sell", 106, 98, 134, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Drop <-", 107, 98, 151, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Jet!", 108, 98, 168, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Drugs Here", -1, 6, 116, 37, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Drugs Carried", -1, 135, 116, 47, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

MainMenu MENU 
BEGIN
	POPUP "&Game"
	BEGIN
		MENUITEM "&New...", ID_NEWGAME
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tAlt+F4", ID_EXIT
	END

	POPUP "&Talk", GRAYED
	BEGIN
		MENUITEM "To &all...", ID_TALKTOALL
		MENUITEM "To &players...", ID_TALKTOPLAYERS
	END

	POPUP "&List", GRAYED
	BEGIN
		MENUITEM "&Players...", ID_LISTPLAYERS
		MENUITEM "&Scores...", ID_LISTSCORES
		MENUITEM "&Inventory...", ID_LISTINVENTORY
	END

	POPUP "&Errands", GRAYED
	BEGIN
		MENUITEM "&Spy...", ID_SPY
		MENUITEM "&Tipoff...", ID_TIPOFF
		MENUITEM "Sack &Bitch...", ID_SACKBITCH
		MENUITEM "&Get spy reports...", ID_GETSPY
	END

	POPUP "&Help", HELP
	BEGIN
		MENUITEM "&About...", ID_ABOUT
	END

END

AboutDialog DIALOG 28, 31, 255, 183
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About dopewars"
BEGIN
	CTEXT "Based on John E. Dell's old Drug Wars game, dopewars is a simulation of an imaginary drug market. dopewars is an All-American game which features buying, selling, and trying to get past the cops!", -1, 9, 7, 237, 26, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "The first thing you need to do is pay off your debt to the Loan Shark. After that, your goal is to make as much money as possible (and stay alive)! You have one month of game time to make your fortune.", -1, 9, 38, 237, 25, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "Copyright (C) 1998-2000   Ben Webb   ben@bellatrix.pcl.ox.ac.uk", -1, 9, 68, 237, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "dopewars is released under the GNU General Public Licence", -1, 9, 82, 237, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Drug Dealing and Research", -1, 19, 99, 92, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Play Testing", -1, 19, 111, 42, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Extensive Play Testing", -1, 19, 123, 77, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Constructive Criticism", -1, 19, 135, 74, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Unconstructive criticism", -1, 19, 147, 80, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Dan Wolf", -1, 116, 99, 34, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Phil Davis", -1, 116, 111, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Owen Walsh", -1, 183, 111, 45, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Katherine Holt", -1, 116, 123, 49, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Caroline Moore", -1, 183, 123, 53, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Andrea Elliot-Smith", -1, 116, 135, 64, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Pete Winn", -1, 183, 135, 37, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "James Matthews", -1, 116, 147, 57, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	DEFPUSHBUTTON "OK", ID_OK, 108, 163, 38, 17, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

NewGameDialog DIALOG 67, 37, 169, 122
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New Game"
BEGIN
	LTEXT "Hey dude, what's your name?", -1, 7, 7, 98, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT ED_NAME, 107, 5, 57, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "&Hostname", ST_HOSTNAME, "STATIC", SS_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 13, 48, 35, 8
	CONTROL "&Port", ST_PORT, "STATIC", SS_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 13, 73, 16, 8
	CONTROL "", ED_HOSTNAME, "EDIT", ES_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_TABSTOP, 52, 46, 103, 12
	CONTROL "", ED_PORT, "EDIT", ES_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_TABSTOP, 52, 71, 103, 12
	CONTROL "&Connect", BT_CONNECT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 44, 93, 80, 14
	CONTROL "&Antique mode", CB_ANTIQUE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 56, 50, 58, 12
	CONTROL "&Start single-player game", BT_STARTSINGLE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 38, 83, 92, 14
	CONTROL "", LB_SERVERLIST, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 11, 39, 147, 56
	CONTROL "&Update", BT_UPDATE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 60, 99, 49, 14
END

JetDialog DIALOG 18, 18, 142, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Jet"
BEGIN
	LTEXT "Jet to location:-", -1, 5, 6, 51, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

DealDialog DIALOG 18, 18, 157, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Deal Drugs"
BEGIN
	LTEXT "Buy", ST_DEALTYPE, 3, 9, 18, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", CB_DEALDRUG, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 23, 7, 72, 62
	LTEXT "at $1000", ST_DEALPRICE, 99, 9, 54, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "You can afford 100, and can carry 100", ST_DEALLIMIT, 3, 38, 151, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	RTEXT "Buy how many?", ST_DEALNUM, 30, 51, 56, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT ED_DEALNUM, 91, 49, 33, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON "OK", ID_OK, 41, 69, 28, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CTEXT "You are currently carrying 100", ST_DEALCARRY, 3, 27, 151, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	PUSHBUTTON "Cancel", ID_CANCEL, 87, 69, 28, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

GunShopDia DIALOG 25, 22, 227, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Gun Shop"
BEGIN
	LTEXT "Guns here", ST_GUNSHERE, 7, 8, 71, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Guns carried", ST_GUNSCARRIED, 133, 8, 71, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", LB_GUNSHERE, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 19, 86, 42
	CONTROL "", LB_GUNSCARRIED, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 133, 19, 86, 42
	PUSHBUTTON "&Buy ->", BT_BUYGUN, 98, 19, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "<- &Sell", BT_SELLGUN, 98, 38, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "OK", ID_OK, 98, 66, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


QuestionDia DIALOG 18, 18, 142, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Question"
BEGIN
	CTEXT "Text", ST_TEXT, 6, 12, 128, 40, WS_CHILD | WS_VISIBLE | WS_GROUP
END

PlayerListDia DIALOG 18, 18, 142, 94
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Player List"
BEGIN
	LTEXT "Players currently logged on:-", -1, 7, 6, 97, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", LB_PLAYERLIST, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 7, 18, 127, 49
	PUSHBUTTON "&Close", ID_CANCEL, 57, 74, 28, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

TalkDialog DIALOG 24, 18, 147, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Talk"
BEGIN
	CONTROL "", LB_TALKPLAYERS, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 8, 13, 130, 43
	LTEXT "Talk to", -1, 8, 3, 24, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT EB_TALKMESSAGE, 8, 81, 130, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "All players", CB_TALKALL, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 57, 45, 12
	LTEXT "Message", -1, 8, 71, 34, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	DEFPUSHBUTTON "&Send", BT_TALKSEND, 31, 100, 27, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Close", ID_CANCEL, 89, 100, 27, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

InventoryDia DIALOG 18, 18, 210, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Inventory"
BEGIN
	LTEXT "Drugs", ST_INVENDRUGS, 7, 5, 47, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Guns", ST_INVENGUNS, 111, 5, 51, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LISTBOX LB_INVENDRUGS, 7, 15, 93, 48, LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL
	LISTBOX LB_INVENGUNS, 111, 15, 93, 48, LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL
	PUSHBUTTON "&Close", ID_CANCEL, 91, 69, 28, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

HiScoreDia DIALOG 18, 18, 157, 151
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "High Scores"
BEGIN
	CONTROL "", LB_HISCORES, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 7, 6, 142, 119
	PUSHBUTTON "&Close", ID_CANCEL, 64, 132, 28, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

FightDialog DIALOG 18, 18, 185, 99
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Fight"
BEGIN
	CONTROL "", EB_FIGHTSTATUS, "EDIT", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 6, 4, 172, 68
	PUSHBUTTON "&Deal Drugs", BT_DEALDRUGS, 6, 77, 46, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Fight", BT_FIGHT, 69, 77, 46, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Run", BT_RUN, 132, 77, 46, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


ErrandDialog DIALOG 18, 18, 190, 132
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tip Off"
BEGIN
	CTEXT "Please choose the player to tip off the cops to. Your bitch will help the cops to attack that player, and then report back to you on the encounter. Remember that the bitch will leave you temporarily, so any guns or drugs that he's carrying may be lost!", ST_ERRAND, 5, 7, 179, 53, WS_CHILD | WS_VISIBLE | WS_GROUP
	LISTBOX LB_ERRANDPLAY, 19, 65, 152, 39, LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL
	DEFPUSHBUTTON "OK", ID_OK, 27, 110, 32, 17, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Cancel", ID_CANCEL, 130, 110, 32, 17, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

BankDialog DIALOG 99, 78, 117, 93
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bank"
BEGIN
	CONTROL "&Withdraw", RB_WITHDRAW, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 7, 29, 45, 12
	CONTROL "&Deposit", RB_DEPOSIT, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 47, 45, 12
	LTEXT "$", ST_CURRENCY, 56, 40, 7, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT EB_MONEY, 64, 38, 45, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON "OK", ID_OK, 13, 68, 32, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Cancel", ID_CANCEL, 67, 68, 32, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CTEXT "Cash: $0", ST_MONEY, 7, 5, 102, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "Bank: $0", ST_BANK, 7, 16, 102, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END
DebtDialog DIALOG 88, 60, 117, 76
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Debt"
BEGIN
	LTEXT "$", ST_CURRENCY, 53, 33, 7, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT EB_MONEY, 61, 31, 45, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON "OK", ID_OK, 15, 53, 32, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Cancel", ID_CANCEL, 69, 53, 32, 16, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Pay back:", 102, 10, 33, 38, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "Cash: $0", ST_MONEY, 7, 4, 102, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "Debt: $0", ST_BANK, 7, 15, 102, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END
NewNameDia DIALOG 18, 18, 148, 64
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "New Name"
BEGIN
	LTEXT "Unfortunately somebody is already using ""your"" name. Please change it:-", -1, 5, 6, 137, 17, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT EB_NEWNAME, 8, 28, 131, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON "OK", ID_OK, 62, 46, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
SpyReportsDia DIALOG 18, 18, 142, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Spy Reports"
BEGIN
	PUSHBUTTON "&Close", ID_CANCEL, 56, 71, 30, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
